/*
 * -------------------------------------------------
 *  sagene-plugins/rpdseq-origin 数据库配置文件
 * -------------------------------------------------
 */
confSummary = "$baseDir/assets/summary"

params {
  presets {
    libprepkit {
      'eELQ' {
        r1      = "GATCGGAAGAGCACACGTCTGAACTCCAGTCA"
        r2      = "GATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
      }
      'ELQ' {
        r1      = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
        r2      = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
      }
      'TruSeq' {
        r1      = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
        r2      = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
      }
      'XT' {
        r1      = "CTGTCTCTTATACACATCT"
        r2      = "CTGTCTCTTATACACATCT"
      }
    }

  summary {

      fastp_column_config = "${confSummary}/fastp_column_config.yaml"

    }  
  }
  
 
  pathogenRefs {
    'genomes' {
      bwa       = "${params.dbdir}/Index/20220218/tngs.target.fa"
    }
  }

  databases {
    'pathogens' {
      tab    = "${params.dbdir}/tngs.db.txt"
      coefficient = "${params.dbdir}/tngs.target.coefficient.txt"
    }
    
  }

  
}
