/*
 * -------------------------------------------------
 *  sagene-plugins/example 流程测试配置文件
 * -------------------------------------------------
 * 使用方法:
 *   nextflow run /path/to/sagene-plugins/example -profile test
 */

params {
  genome = 'EB2'
  singleEnd = false
  outdir = "Results/"
  readPaths = [
    ['XXXXXX', ["s3://sagene-rawdata-dev/InstrumentID/BatchID/XXXXXX_raw_1.fq.gz", "s3://sagene-rawdata-dev/InstrumentID/BatchID/XXXXXX_raw_2.fq.gz"]],
    ['YYYYYY', ["s3://sagene-rawdata-dev/InstrumentID/BatchID/YYYYYY_raw_1.fq.gz", "s3://sagene-rawdata-dev/InstrumentID/BatchID/YYYYYY_raw_2.fq.gz"]]
  ]
}
